*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(200, 185, 216);
}
h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

h3{
    color: aliceblue;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.campos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.entradas {
    background-color: rgb(187, 110, 211);
    border: 5px solid black;
    border-radius: 13px;
    display: flex;
    flex-direction: column; /* Alterando o layout para coluna */
    align-items: center;
    padding: 10px;
}

div .num1,.operador,.num2{
    background-color: rgb(215, 187, 238);
}
.entradas input{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.entradas input[type="submit"] {
    border-radius: 10px; /* Adicionando bordas arredondadas ao botão */
    padding: 10px;
    cursor: pointer;
}


.resu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bot{
    height: 35px;
    width: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.bot-porcentagem {
    display: inline-block;
    margin-right: 5px; /* Adicionando margem à direita para separar os botões */
}
.bott{
    height: 35px;
    width: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}